# OS / System Files
.DS_Store
.DS_Store?
._*

# Dependencies
node_modules/

# Production
dist/
dist-ssr/

# Environment / Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vite / ESLint
.eslintcache
.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
